{% extends "base.html" %}

{% block title %}{{ product.name }} Details{% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Product Image -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>

        <div class="col-md-6">
            <!-- Product Details -->
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p><strong>Price:</strong> ${{ product.price }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>
            <a href="/buynow" class="btn btn-primary">Buy</a>
            
           
        </div>
    </div>
</div>
{% endblock body %}
